//hover for nav-link

.nav-link:hover {
  text-decoration: underline;
}

//Hover state for navbar-brand

.navbar-brand:hover {
  background: $blue !important;
  color: $white !important;
}

//hover for images of friends

.friends-container a:hover {
  transform: scale(1.05);
}
